@font-face {
    font-family: 'BarlowCon';
    src: url('fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'BarlowSemiCon';
    src: url('fonts/BarlowSemiCondensed-Regular.ttf')
}

@font-face {
    font-family: 'BungeeOut';
    src: url('fonts/BungeeOutline-Regular.ttf')
}

@font-face {
    font-family: 'BungeeSha';
    src: url('fonts/BungeeShade-Regular.ttf')
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 50px 100px;
    font-family: 'BarlowCon';
}

/* Content background */
body > div {
    max-width: 1000px;
    background-color: rgba(68,61,100,0.5);
    border-radius: 20px;
    padding: 0 30px;
    margin: auto;
}

/* Header */
header h1 {
    font-family: 'BungeeSha';
    color: #F3FDE8;
    font-size: 4rem;
}

/* Navbar */
nav {
    display: flex;
    gap: 1vh;
}

nav a {
    flex-basis: 0;
    flex-grow: 1;

    background-color: rgba(181, 178, 197, 0.6);
    color: #27233a;
    font-family: 'BarlowCon';
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;

    padding: 1vh;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #F3FDE8;
}

nav a:nth-child(3) {
    border: 2px solid #F3FDE8;
    box-shadow: 0 0 10px #FFF;
    font-weight: bold;
    color:#F3FDE8;
}

nav a:nth-child(3):hover {
    background-color: rgba(181, 178, 197, 0.6);
    color: #F3FDE8;
    cursor: default;
}

/* Sec 1 */

main section:first-child {
    background-color: rgba(0,0,0,0.5);
    color: #F3FDE8;
    border: 1px solid #F3FDE8;
    border-radius: 10px;
    padding: 2vh;
    margin: 8vh 0;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

main section:first-child > div:first-child {
    display: flex;
    gap: 2vh;
}

/* Sec 1 Con 1 */
main section:first-child > div:first-child > div:first-child {
    flex-basis: 0;
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    gap: 8vh;
}

/* Sec 1 Con 1.1 */
main section:first-child h2 {
    font-family: 'BungeeOut';
    font-size: 2rem;
    height: 4vh;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

main section:first-child h3 {
    font-family: 'BarlowSemiCon';
    font-size: 1.5;
}

/* Sec 1 Con 1.2 */
main section:first-child div:first-child ul {
    list-style-type: none;
}


/* Con 2 */
main section:first-child > div:first-child > div:last-child {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* Con 2.1 */

main section:first-child > div:first-child > div:last-child > div:first-child {
    position: relative;
}

main section:first-child > div:first-child > div:last-child > div:first-child > img {
    border-radius: 10px 10px 0 0;
}

main section:first-child > div:first-child > div:last-child > div:first-child > img:first-child {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main section:first-child > div:first-child > div:last-child > div:first-child > img:last-child {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

main section:first-child > div:first-child > div:last-child > div:first-child:hover > img:last-child {
    opacity: 1;
}

main section:first-child > div:first-child > div:last-child > div:last-child {
    display: flex;
    gap: 1vh;
}

/* Sec 1 Con 2.2 */
main section:first-child > div:first-child > div:last-child > div:last-child > div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(68,61,100,0.5);
    padding: 1.5vh;
}

main section:first-child > div:first-child > div:last-child > div:last-child > div p {
    font-family: 'BarlowSemiCon';
    font-weight: bold;
    font-size: 1.1rem;
}

main section:first-child > div:first-child > div:last-child > div:last-child > div:first-child {
    border-radius: 0 0 0 10px;
}

main section:first-child > div:first-child > div:last-child > div:last-child > div:last-child {
    border-radius: 0 0 10px 0;
}


/* Sec 1 Con 3 */
main section:first-child > div:last-child {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
    gap: 1vh;
}

main section:first-child > div:last-child > div {
    background-color: #F3FDE8;
    color: rgb(68,61,100);
    padding: 1vh 2vh;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Sec 1 Con 3.1 */
main section:first-child > div:last-child > div:first-child {
    border-radius: 10px 0 10px 10px;
}

/* Sec 1 Con 3.2 */
main section:first-child > div:last-child > div:nth-child(2) {
    grid-column: 3 / 5;
    border-radius: 10px 10px 0 10px;
}

/* Sec 1 Con 3.3 */
main section:first-child > div:last-child > div:nth-child(3) {
    grid-column: 5;
    border-radius: 0 10px 10px 10px;
    position: relative;
    background-image: url('../images/laufeyjunia.jpg');
    background-size: cover;
}

main section:first-child > div:last-child > div:nth-child(3) p {
    position: absolute;
    bottom: 1vh;
    font-family: 'BarlowSemiCon';
    color: #F3FDE8;
    text-shadow: 0 0 2px #fff;
}

/* Sec 1 Con 3.4 */
main section:first-child > div:last-child > div:last-child {
    grid-column: 6;
    border-radius: 10px 10px 10px 0;
    height: 100%;
}