@font-face {
    font-family: 'BarlowCon';
    src: url('fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'BarlowSemiCon';
    src: url('fonts/BarlowSemiCondensed-Regular.ttf')
}

@font-face {
    font-family: 'BungeeOut';
    src: url('fonts/BungeeOutline-Regular.ttf')
}

@font-face {
    font-family: 'BungeeSha';
    src: url('fonts/BungeeShade-Regular.ttf')
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 50px 100px;
}

body div {
    background-color: rgba(97,130,100,0.5);
    border-radius: 20px;
    padding: 20px 30px;
}

header h1 {
    font-family: 'BungeeSha';
    color: #F3FDE8;
    font-size: 60px;
}

nav {
    display: flex;
    gap: 3px;
}

nav a {
    flex-basis: 0;
    flex-grow: 1;

    background-color: rgba(243,253,232,0.6);
    color: #618264;
    font-family: 'BarlowCon';
    text-decoration: none;
    font-size: 25px;
    text-align: center;

    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(97,130,100,0.5);
    color: #F3FDE8;
}

nav a:nth-child(3) {
    border: 2px solid #F3FDE8;
    box-shadow: 0 0 10px #FFF;
    font-weight: bold;
    color:#425143;
}

nav a:nth-child(3):hover {
    background-color: rgba(243,253,232,0.6);
    color: #425143;
    cursor: default;
}