@font-face {
    font-family: 'Fredoka';
    src: url('fonts/Fredoka-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'PatrickHand';
    src: url('fonts/PatrickHand-Regular.ttf')
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 50px 100px;
}

body div {
    background-color: rgba(97,130,100,0.5);
    border-radius: 20px;
    padding: 20px 30px;
}

header h1 {
    font-family: 'Fredoka';
    color: #F3FDE8;
    font-size: 60px;
}